h2 {
  color: var(--main-light);
  text-align: center;
  padding: 30px 20px 20px 20px;
}

#contactme {
    width: 100%;
}

  form div {
    display: flex;
    justify-content: center;
  }
   
  form div label {
    padding: 10px;
    font-size: 25px;
  }

    form div input {
      margin: 10px;
      background-color: var(--main-dark);
      border-color: var(--main-light);
      border-radius: 5px;
      color: var(--main-light);
    }

    form div textarea {
      margin: 10px;
      background-color: var(--main-dark);
      border-color: var(--main-light);
      border-radius: 5px;
      resize: none;
      width: 50%;
      height: 3rem;
      color: var(--main-light);
    }
