footer {
    width: 100%;
    background-color: var(--main-accent);
    color: var(--main-light)
}

.footer-table {
    width: 100%;
    height: 20px;
}

    .footer-table tr td {
        text-align: center;
    }