body{
    margin: 0;
    min-height: 100vh;
}
.header-wrapper {
    background-color: #d00000;
    display: flex;
    width: 100%;
    margin: 0;
}

.name {
    padding-left: 25px;
    font-size: 50px;
    font-weight: 500;
    width: 50%;
}

.extra-info{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    padding-right: 7%;
}

    .extra-info div {
        padding: 0px 4% 0px 4%;
        color: #4f4848;
        font-size: 16px;
        font-weight: 300;
        font-family: Helvetica;
        
    }

.experience {
        
}

.education{

}

.skills{

}

.contact-me {

}

.about-me{

}

.content-wrapper {
    margin-top: 58px;
    background-color: black;
    color: white;
    height: 1000px;
}

